{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [[ $(command -v brew) ]]; then
    echo "Homebrew is already installed. skipping"
else
  # Install Homebrew if not already installed
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi


# Install Homebrew packages
brew bundle

{{ end -}}
